[tool.poetry]
name = "mkdocs-literate-nav"
version = "0.1.0"
description = ""
authors = ["Oleh Prypin <oleh@pryp.in>"]
license = "MIT"
repository = "https://github.com/oprypin/mkdocs-literate-nav"
keywords = ["mkdocs", "mkdocs-plugin"]

[tool.poetry.plugins."mkdocs.plugins"]
literate-nav = "mkdocs_literate_nav.plugin:LiterateNavPlugin"

[tool.poetry.dependencies]
python = "^3.6"
mkdocs = "^1.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
